@model IEnumerable<DesafioSistemasInfo.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuários cadastrados</h1>

<p>
    <a asp-action="Create">Crirar novo usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar usuário</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes do usuário</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Deletar usuário</a>
            </td>
        </tr>
}
    </tbody>
</table>
